#header {
    --header-height: var(--header-footer-height);
    --header-padding: 8px;
    --header-background: var(--header-footer-background-color);
}

header {
    height: var(--header-height);
    box-sizing: border-box;
    background-color: var(--header-background);
}

.header_common {
    height: 100%;
}

#header_nav{
    display: inline-block;
    padding: 12px;
}

/* 3 button menu */
#menu_button > div {
    width: 30px;
    height: 4px;
    background-color: var(--content-color); 
    margin-top: 3px;
}