* {
    /* Whole document style*/
    margin:0;
    padding:0;
}

.light_theme {
    --content-color: #DEF2F1;
    --background-color: #2B7A78 !important;
}

#html {
    --header-footer-background-color: var(--background-color);
    --header-footer-height: 56px;
    color: var(--content-color);
}

html {
    min-height: 100%;
}