* {
    /* Whole document style*/
    margin:0;
    padding:0;
}

#html {
    --header-footer-background-color: transparent;
    --header-footer-height: 56px;
    background-color: #0B0C10;
}

html {
    min-height: 100%;
}