{{#*inline "main"}}

<h1>Welcome to my website</h1>
<p>
    Welcome to my home made content manager system.<br>
    This project of mine is made with <a href="https://www.rust-lang.org/">Rust</a> and it's currently hosted on a <a href="https://www.raspberrypi.org/">raspberry pi</a>.
</p>

{{/inline}}
{{~> common/layout~}}