main {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--background-color);
}

main > h1, main > p {
    color: var(--content-color);
    text-align: center;
}

main > p {
    margin-top: 5%;
}

