<div id="header_div" class="header_common">
    <nav id="header_nav" class="header_common">
        <ul id="header_ul" class="header_common">
            <li> <a> Home </a> </li>
        </ul>
    </nav>
</div>