{{#*inline "main"}}

<h1>About Me</h1>
<p>
    I am a passionate computer scientist.<br>
    I love studying anything computer related, especially DevOps and container technology.<br>
    I also love working on DIY projects.<br>
</p>

{{/inline}}
{{~> common/layout~}}