{{#*inline "main"}}

<h1>Welcome to my website</h1>
<p>
    Welcome to my self-hosted webb apps.<br>
    This project of mine was coded in <a href="https://www.rust-lang.org/">Rust</a> and hosted on a <a href="https://www.raspberrypi.org/">raspberry pi</a> using <a href="https://www.nginx.com/">nginx</a> and a <a href="https://k3s.io/">k3s</a> <a href="https://kubernetes.io/">kubernetes cluster</a>.
</p>

{{/inline}}
{{~> common/layout~}}